.hero.is-primary .navbar-item {
  border: 1px solid grey;
}

.hero.is-primary#navbar a.navbar-item {
  color: black;
}

#mainLogo {
  max-height: 80px;
}

.card-content h3 {
  text-align: center;
}

.projects-container .card {
  margin-bottom: 2em;
}

#projects {
  background: #f8f8f9;
}
