body {
  font-family: Raleway, sans-serif;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  font-family: 'Bree Serif';
}

.hero.is-primary {
  background-color: #4990e2;
}

#mainLogo {
  max-height: 80px;
}

.card-content h3 {
  text-align: center;
}

.projects-container .card {
  margin-bottom: 2em;
}

#projects {
  background: #f8f8f9;
}
